@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryColor: #ac7b4a;
  --secondaryColor: #6c4122;
  --thirdColor: #3b1b12;
  --font-color: #110504;
}

body {
  font-family: var(--font-Poppins);
  user-select: none;
  color: var(--font-color);
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.page1 {
  background-image: url(../public/bg1.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* .main_img {
  height: 585px;
  width: 340px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../public/profile.jpg);
  animation: image forwards 1s ease;
} */

.main_img1 {
  /* height: 585px;
  width: 340px; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../public/profile.jpg);
}

body::-webkit-scrollbar {
  display: none;
}
h1 {
  font-size: 40px;
  font-weight: 700;
}
.defaultButton {
  padding: 12px;
  border-radius: 7px;
  font-size: 20px;
  color: var(--primaryColor);
  width: 120px;
  transition-duration: 300ms;
}
.defaultButton:hover {
  background-color: #8a542e;
}
.para {
  display: flex;
  gap: 10px;
  flex-direction: column;
  transition-duration: 1000ms;
  animation: para forwards 1s ease;
}

@keyframes para {
  0% {
    transform: translateX(-500px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes image {
  0% {
    opacity: 0;
    transform: translateX(500px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* new css */

.introPage {
  display: flex !important;
  background-color: #0e1424;
  justify-items: center;
  align-items: center;
  color: #e8dad7;
  background-image: url("../public/bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 50px;
  font-weight: 700;
}

@media only screen and (max-width: 1300px) {
  .introPage {
    flex-direction: column-reverse;
    gap: 0;
  }
  .justify {
    height: 50%;
  }
}

.swiper-wrapper {
  transition-duration: 700ms !important;
}

#move {
  background: #bfa6ab;
  height: 250px;
  border-radius: 50%;
  opacity: 0.2;
  filter: blur(20px);
  aspect-ratio: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 1;
  /* Add a gentle, continuous animation */
  animation: gentlePulse 5s infinite alternate ease-in-out;
}

@keyframes gentlePulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.05);
  }
}

.star {
  display: block;
  background-color: #fff;
  position: absolute;
  border-radius: 100%;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: 20;
}

.page2 {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(223, 223, 223);
}
.benefits {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  border-right: 2px rgb(97, 97, 97) solid;
  border-right-style: solid;
}
p {
  font-size: 20px;
}
.disadvantage {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.font_title {
  display: inline-block;
  font-size: 40px;
}

.page2 {
  background-color: #001220;
  min-height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}

.section-heading {
  font-size: 2.5rem;
  font-weight: 700;
}

.page3 {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-image: url("../public/bg-desktop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  gap: 20px;
}

svg {
  transition: all 700ms;
}
svg:hover {
  cursor: pointer;
  fill: white;
}
.window-animation {
  transition: transform 0.7s ease, opacity 0.7s ease, scale 0.7s ease;
}

.about-me-list-item {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.about-me-list-item.in-view {
  opacity: 1;
}

.copyable-text {
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.copyable-text:hover {
  color: white;
  text-decoration: underline;
}

.copied-feedback {
  color: green !important;
  font-weight: bold;
  text-decoration: none !important;
}
